<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MenueTableview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDA406A61DE2C29B00BECC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA406BF1DE2C29B00BECC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA406CA1DE2C29B00BECC7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
